h1 {
    font-weight: 500;
    font-size: 7em;
}

.hero {
    margin-top: 100px;
}

.project {
    height: 300px;
    border: solid blue 1px;
}

.nav {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}