html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0px 18px;
}
p {
  line-height: 1.45em;
}
h1,
h2,
h3 {
  font-family: 'Changa One';
  text-transform: uppercase;
  margin: 20px 0px 8px 0px;
  line-height: 1.3em;
}
h1,
h2 {
  font-weight: 800;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.15em;
}
h3 {
  font-family: 'Noto Sans', sans-serif;
}
a {
  color: black;
}
/*.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-link {
    padding: 10px;
    font-size: 16px;

    p {
      font-family: "Avenir Next";
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}*/
@media (min-width: 750px) {
  .about {
    flex-direction: row;
  }
  .about .left {
    width: 50%;
    background-color: darkseagreen;
  }
  .about .right {
    width: 50%;
    background-color: linen;
  }
}
@media (min-width: 960px) {
  body {
    width: 860px;
  }
}
.hero {
  height: 73vh;
  display: flex;
  align-items: center;
}
.hero .hero-text p {
  font-size: 1.15em;
  margin-top: -20px;
}
@media (min-width: 960px) {
  .hero {
    height: 60vh;
  }
  .hero .hero-text {
    width: 860px;
  }
  .hero .hero-text p {
    font-size: 1.3em;
  }
}
