html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0px 18px;
}
p {
  line-height: 1.45em;
}
h1,
h2,
h3 {
  font-family: 'Changa One';
  text-transform: uppercase;
  margin: 20px 0px 8px 0px;
  line-height: 1.3em;
}
h1,
h2 {
  font-weight: 800;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.15em;
}
h3 {
  font-family: 'Noto Sans', sans-serif;
}
a {
  color: black;
}
/*.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-link {
    padding: 10px;
    font-size: 16px;

    p {
      font-family: "Avenir Next";
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}*/
@media (min-width: 750px) {
  .about {
    flex-direction: row;
  }
  .about .left {
    width: 50%;
    background-color: darkseagreen;
  }
  .about .right {
    width: 50%;
    background-color: linen;
  }
}
@media (min-width: 960px) {
  body {
    width: 860px;
  }
}
.project {
  margin-top: 50px;
  margin-bottom: 50px;
}
.project h2 {
  font-size: 2.75em;
  margin: 80px 0px 40px 0px;
}
.project .project-details {
  font-size: .8em;
  margin-bottom: 20px;
}
.project .project-details .company {
  font-weight: bold;
}
.project .project-details .date {
  color: gray;
}
.project .project-details span {
  display: block;
}
.project .project-details .divider {
  display: inline;
  letter-spacing: -2px;
}
.project .project-description {
  margin-bottom: 50px;
}
.project .project-details-skills h3 {
  margin: 0px;
  font-size: .8em;
  display: inline;
}
.project .project-details-skills span {
  display: inline;
  font-size: .8em;
  margin: 0px 0px 15px 0px;
}
@media (min-width: 960px) {
  .project {
    margin-top: 150px;
    width: 860px;
  }
  .project h2 {
    font-size: 3.5em;
  }
  .project .project-description {
    margin-bottom: 50px;
  }
}
