html,
body {
  font-size: 16px;
  font-family: "Helvetica Neue";
}
h1 {
  font-weight: 500;
  font-size: 7em;
}
.hero {
  margin-top: 100px;
}
.project {
  height: 300px;
  border: solid blue 1px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.nav .nav-link {
  padding: 10px;
  font-size: 16px;
}
