html,
body {
  font-size: 16px;
  font-family: "PT Serif";
  height: 100%;
  margin: 0px;
}
h1 {
  padding: 10px;
  font-family: "Proxima Nova Extra Condensed";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6em;
}
.hero {
  display: flex;
  height: 85%;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: column;
}
.about .left {
  display: flex;
  justify-content: center;
  background-color: seashell;
}
.about .right {
  display: flex;
  justify-content: center;
  background-color: peachpuff;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav .nav-link {
  padding: 10px;
  font-size: 16px;
}
@media (min-width: 750px) {
  .about {
    flex-direction: row;
  }
  .about .left {
    width: 50%;
    background-color: darkseagreen;
  }
  .about .right {
    width: 50%;
    background-color: linen;
  }
}
