@import 'style.less';

.hero {
  height: 73vh;
  //width: @wrapper-width-mobile;
  display: flex;
  align-items: center;
  margin: 0px 18px;


  .hero-text {
    //width: @wrapper-width-tablet;

    p {
      //font-size: 1.23em;
      font-size: 1.15em;
      margin-top: -20px;
    }
  }
}

@media (min-width: 960px) {
  .hero {
    height: 60vh;
    //margin-bottom: 50px;
    .hero-text {
      width: @wrapper-width-desktop;
      p {
        font-size: 1.3em;
      }
    }
  }
}
