@container-width: 90%;

html, body {
  //font-family: "PT Serif";
  font-family: "Georgia";
  font-size: 16px;
  height: 100%;
  margin: 0px;
}

h1, h2, h3 {
  font-family: "Proxima Nova Extra Condensed";
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0px 0px 0px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

.hero {
  display: flex;
  height: 85%;
  justify-content: center;
  align-items: center;
}

p {
  hyphens: auto;
}

.about {
  display: flex;
  flex-direction: column;
  //border: solid blue 1px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: seashell;

    img {
      width: @container-width;
      //height: 200px;
      overflow: hidden;

    }
  }

  .right {
    display: flex;
    justify-content: center;
    background-color: peachpuff;

    .textbox {
      width: @container-width;
    }

    .about-info {
      display: flex;
      flex-direction: column;
      //justify-content: flex-end;
      //align-items: flex-end;
      margin: 40px 0px;

      h3 {
        display: inline;
        padding-right: 10px;
        margin-top: 0px
      }

      .social-link {
        padding-right: 10px;

        //h3 {
          color: black;
        //}

        h3:hover {
          color: gray;
        }

      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-link {
    padding: 10px;
    font-size: 16px;
  }
}

@media (min-width: 750px) {
  .about {
    flex-direction: row;
    .left {
      width: 50%;
      background-color: darkseagreen;
    }

    .right {
      width: 50%;
      background-color: linen;
    }
  }
}