html, body {
  font-size: 16px;
  font-family: "PT Serif";
  height: 100%;
}

h1 {
  font-family: "Proxima Nova Extra Condensed";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 6em;
}

.home {
  height: inherit;

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;

    h1 {
      //color: #e21914;
    }

    p {
      //font-size: 6.9em;
      font-size: 5em;
      //color: #e0e0e0;

      padding-top: 14px;
      //font-style: italic;
      font-family: "Adobe Garamond Pro";
    }
  }
}

.about {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 50%;
  height: 500px;
  .left {
    //width: 50%;
    height: 100px;

    justify-content: center;
    text-align: center;

    align-items: center;
  }

  .right {
    height: 100px;
    justify-content: center;
    text-align: center;

    align-items: center;
  }
}

.project {
  height: 300px;
  border: solid blue 1px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

  .nav-link {
    padding: 10px;
    font-size: 16px;
  }
}

