@wrapper-width-mobile: 90%;
@wrapper-width-tablet: 655px;
@wrapper-width-desktop: 860px;
html {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0px 18px;
}

p {
  line-height: 1.45em;
}

h1, h2, h3 {
  //font-family: "Avenir Next Condensed";
  font-family: 'Changa One';
  text-transform: uppercase;
  margin: 20px 0px 8px 0px;
  line-height: 1.3em;
}

h1, h2 {
  font-weight: 800;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.15em;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  //font-weight: 600;
  font-size: .8em;
  //letter-spacing: 1px;
}

a {
  color: black;
}

//p {
//  hyphens: auto;
//}

/*.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-link {
    padding: 10px;
    font-size: 16px;

    p {
      font-family: "Avenir Next";
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}*/

@media (min-width: 750px) {
  .about {
    flex-direction: row;
    .left {
      width: 50%;
      background-color: darkseagreen;
    }

    .right {
      width: 50%;
      background-color: linen;
    }
  }
}

@media (min-width: 960px) {
  body {
    width: @wrapper-width-desktop;
  }
}